@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  background-image: linear-gradient(316deg, #a067d4 0%, #3a125a 74%);
}

a {
  text-decoration: none;
  color: unset;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Poppins", sans-serif;
  height: 2em;
  padding-inline: 1em;
  color: whitesmoke;
  text-transform: uppercase;
}

.left {
  float: left;
}

.right {
  float: right;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 18em;
  border-top: solid 2px white;
  border-bottom: solid 2px white;

  animation: slide-right 1.7s cubic-bezier(0.15, 0.99, 0.27, 1);
}

.header p {
  color: whitesmoke;
  width: 100%;
  text-align: center;
  font-size: 10em;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.06em;
}

.content {
  display: flex;
  flex-grow: 1;
}

.article {
  padding: 1.5em;
  color:whitesmoke;
  font-family: 'Montserrat', sans-serif;
}
#download-article {
  border-bottom: 2px solid whitesmoke;
  width: fit-content;
  max-width: 350px;
  min-width: 200px
}
#left-article {
  border: 2px solid whitesmoke;
  border-top: none;
  border-left: none;
}
#right-article {
  border: 2px solid whitesmoke;
  border-top: none;
  border-right: none;
}

@media screen and (max-width: 1860px) {
  .header {
    height: 18em;
  }
  .header p {
    font-size: 8em;
  }
}
@media screen and (max-width: 1560px) {
  .header {
    height: 14em;
  }
  .header p {
    font-size: 7em;
  }
}
@media screen and (max-width: 1560px) {
  .header {
    height: 10em;
  }
  .header p {
    font-size: 5em;
  }
}
@media screen and (max-width: 950px) {
  .header {
    height: 8em;
  }
  .header p {
    font-size: 4em;
  }
}

/* - - - Animations - - - */

@keyframes slide-right {
  from {
    margin-left: -200%;
    opacity: 20%;
  }
  to {
    margin-left: 0%;
    opacity: 100%;
  }
}
@keyframes slide-left {
  from {
    margin-right: -200%;
    opacity: 20%;
  }
  to {
    margin-left: 0%;
    opacity: 100%;
  }
}
